{% extends 'app/base.html' %}
{% load static %}

{% block content %}


<div class="about1  col-sm-10">
    <h3 class="my-4 text-white">About page</h3>
    
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium magnam sequi accusantium rerum dicta dolores, voluptate voluptatem modi, repellendus odio nihil at dolor iusto repudiandae quo sit. In, fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt velit pariatur vero esse quo tempore commodi est aperiam delectus blanditiis corrupti autem alias dolorem dolor, impedit quis doloribus, mollitia voluptatem?
    </p>
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore natus reprehenderit soluta maxime at dolorem incidunt voluptatibus quasi molestiae autem inventore voluptate, fuga harum? Vero vitae inventore asperiores cupiditate.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae harum hic aperiam quisquam, maiores placeat porro rem excepturi exercitationem obcaecati doloribus, modi, vitae nam accusantium nobis sunt distinctio officiis unde!
    </p>
</div>

{% endblock content %}
