{% extends 'app/base.html' %}
{% load static %}

{% block content %}


<form class="about1 col-sm-10 my-5 mx-5  py-2">
<div class="about1 col-sm-10 my-5 mx-5">
    <h3 class="my-3 text-white py-2">Contact page</h3>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white">Name</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name here">
      </div>
      
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label text-white">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-primary">Submit</button>
</div>


</form>

{% endblock content %}
